extends layout.pug
block content
  h1 Admin Control Panel
  main
      div
        form(action='/signup' method='POST')
          input.form-control(type='text', placeholder='Amazing Hoodie')
          select.form-control
            option Tees
            option Hoodies
            option Accessories
          input.form-control(type='text', placeholder='Url')
          label(for='exampleFormControlTextarea1') Description
          textarea#exampleFormControlTextarea1.form-control(rows='3')
          input.form-control(type='text', placeholder='$0.00')
          button(type='submit') Submit
