extends layout.pug
block content
  h1 Twenty Lives Merch Store
  main
      div
        h2 Do you want to wear cool clothes?
        iframe(width='560', height='315', src='https://www.youtube.com/embed/ZKVfccBzEIc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        p ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        h2 About Me
        h3 I am a small youtuber, who tries to post at least bi- weekly. 
        h4 What I post:
        p - Gameplay 
        p - Raids
        p - Funny Moments
        p - Music Parodies
        p - Skits
        p - Challenges
        p - Music Covers
        p ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        h2 Now, create an account, login, and go purchase some merch.
      div(id="right")
        img(src='https://yt3.ggpht.com/a/AGF-l7-WkKJik6qzwvIlqWp1oGTZXP1batC8qGxZXg=s288-mo-c-c0xffffffff-rj-k-no')
      
      


        
  
