extends layout.pug
block content
  h1 Tees
  main
    div
      .card(style='width: 18rem;')
        img.resize(src='//cdn.shopify.com/s/files/1/1887/1151/products/Tee_1.png?v=1539349181')
        .card-body
          h5.card-title Card title
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-primary(href='#') Go somewhere
    div 
    .card(style='width: 18rem;')
      img.resize(src='https://i.etsystatic.com/11083800/r/il/34a788/1558759714/il_794xN.1558759714_dn9o.jpg')
      .card-body
        h5.card-title Card title
        p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card's content.
        a.btn.btn-primary(href='#') Go somewhere
